@font-face {
    font-family: "LeeSeoyun";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
  format("woff");
font-weight: normal;
font-style: normal; 
}

body{
    font-family: "LeeSeoyun";
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("./image/background.png");
}

#container{
    width: 390px;
    background-color: #ff9d73;
    height: 100%;
}

.photos{
    margin-top: 30px;
}

.photo-frame{
    background-color: white;
    margin: 15px 20px;
    height: 200px;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-title{
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.f-date{
    font-size: 15px;
    font-weight: 500;
    color: white;
}

#image1{
    background-image: url("./image/img1.png");
}

#image2{
    background-image: url("./image/img2.png");
}

#image3{
    background-image: url("./image/img3.png");
}

.video{
    width: 100%;
    height: 100%;
}

.photo_description{
    color: white;
    background-color: black;
    width: fit-content;
    padding: 0 20px;
    margin-bottom: 10px;
    border-radius: 10px;

    position: absolute;
    bottom: 0;

    transform: translate(-50%);
    left: 50%;

    opacity: 0;
}

.showText{
    opacity: 0;
}

.hideText{
    opacity: 1;
    transition: opacity 0.5s linear;
}

@keyframes rtanee {
    0% {
      bottom: 0px;
    }
    100% {
      bottom: 100px;
    }
  }

  .absolute-rtan-area {
    position: fixed;
    right: 10px;
    bottom: 10px;

    /* 아이콘 이동 애니메이션 관련 설정 */
    animation-name: rtanee;
    animation-duration: 2s;
    animation-duration: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  .absolute-rtan-area img {
    width: 150px;
    cursor: pointer;
  }
  #modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(1.5px);
    border-radius: 10px;
    display: none;
  }

  #modal .modal-window {
    background: white;
    box-shadow: 0 8px 32px 0 grey;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 350px;
    height: 350px;
    position: relative;
    padding: 10px;
  }

  #modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    color: black;
    position: absolute;
    right: 0;
  }

  #modal .content {
    margin-top: 10px;
    padding: 0px 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #modal .content img {
    width: 65%;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #modal .content span {
    font-size: 20px;
    margin: 2px;
    font-weight: 900;
    font-family: auto;
  }

  #modal .content button {
    position: absolute;
    bottom: 20px;
    width: 90%;
    height: 50px;
    color: white;
    background: green;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }